.terraform/*
.terraform.lock.hcl
.terraform/terraform.tfstate
terraform.tfstate*

Backend/.terraform*
Backend/.terraform.lock.hcl
Backend/terraform.tfstate*


Bastion/.terraform*
Bastion/terraform.tfstate*

Database/.terraform*
Database/terraform.tfstate*

Frontend/.terraform*
Frontend/terraform.tfstate*

VPCE/.terraform*
VPCE/terraform.tfstate*

WAF/.terraform*
WAF/terraform.tfstate*
